{{!-- extra? --}}
{{#if sessionFlash}}
	<div id="#" class="alert alert-dismissible alert-{{sessionFlash.type}}" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{{sessionFlash.message}}}
	</div>
{{/if}}


{{#proyecto}}
<form action="/saveCortina" method="POST" class="form-horizontal" id="cortinaForm">
	<input type="hidden" name="_id" value="{{_id}}">

<div class="row no-gutter">
	<a href="/api/proyectos/{{_id}}" id="backbutton"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar</a>
  <h4>Especificar Cortina</h4>

  <h5 class="box-heading">1. Dimensiones</h5>

	<div id="box1-errors" class="validation-box col-sm-offset-5"></div>

	<div class="col-sm-5 col-sm-offset-2">
		 <div class="form-group">
      <label for="cor_a" class="col-sm-1 control-label">A</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-a" name="cor_a" value="{{cortina.cor_a}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_a" class="control-label">ancho buque</label>
     </div>

     <div class="form-group">
      <label for="cor_h" class="col-sm-1 control-label">H</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-h" name="cor_h" value="{{cortina.cor_h}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_h" class="control-label">alto buque</label>
     </div>

     <div class="form-group">
      <label for="cor_ci" class="col-sm-1 control-label">CI</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-ci" name="cor_ci" value="{{cortina.cor_ci}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ci" class="control-label">cargador superior interno</label>
     </div>

     <div class="form-group">
      <label for="cor_ce" class="col-sm-1 control-label">CE</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-ce" name="cor_ce" value="{{cortina.cor_ce}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ce" class="control-label">cargador superior externo</label>
     </div>

		 <div class="form-group">
      <label for="cor_li" class="col-sm-1 control-label">Li</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-li" name="cor_li" value="{{cortina.cor_li}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_li" class="control-label">espacio lateral izquierdo</label>
     </div>
   

     <div class="form-group">
      <label for="cor_ld" class="col-sm-1 control-label">Ld</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-ld" name="cor_ld" value="{{cortina.cor_ld}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ld" class="control-label">espacio lateral derecho</label>
     </div>

     <div class="form-group">
      <label for="cor_p" class="col-sm-1 control-label">P</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-p" name="cor_p" value="{{cortina.cor_p}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_p" class="control-label">profundidad cielo</label>
     </div>
  </div><!--end of column-->


  <div class="col-sm-5">

  	<div class="form-group">
  		<label for="cor_ss" class="col-sm-1 control-label">SS</label>
  		<div class="col-sm-4">
  			<div class="input-group">
  				<input type="text" class="form-control sync-ss" name="cor_ss" value="{{cortina.cor_ss}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_ss" class="control-label">lámina principal superior</label>
  	</div>
  	
  	<div class="form-group">
  		<label for="cor_sc" class="col-sm-1 control-label">SC</label>
  		<div class="col-sm-4">
  			<div class="input-group">
  				<input type="text" class="form-control sync-sc" name="cor_sc" value="{{cortina.cor_sc}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_sc" class="control-label">lámina secundaria</label>
  	</div>

  	<div class="form-group">
  		<label for="cor_si" class="col-sm-1 control-label">SI</label>
  		<div class="col-sm-4">
  			<div class="input-group">
  				<input type="text" class="form-control sync-si" name="cor_si" value="{{cortina.cor_si}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_si" class="control-label">lámina principal inferior</label>
  	</div>
		
		<div class="form-group">
  		<label for="cor_b" class="col-sm-1 control-label">B</label>
  		<div class="col-sm-4">
  			<div class="input-group">
  				<input type="text" class="form-control sync-b" name="cor_b" value="{{cortina.cor_b}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_b" class="control-label">ancho final libre</label>
  	</div>
		
		<div class="form-group">
      <label for="cor_ti" class="col-sm-1 control-label">Ti</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-ti" name="cor_ti" value="{{cortina.cor_ti}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ti" class="control-label">tubo a agregar izquierda</label>
    </div>

   	<div class="form-group">
      <label for="cor_td" class="col-sm-1 control-label">Td</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-td" name="cor_td" value="{{cortina.cor_td}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_td" class="control-label">tubo a agregar derecha</label>
    </div>

    <div class="form-group">
      <label for="cor_di" class="col-sm-1 control-label">Di</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-di" name="cor_di" value="{{cortina.cor_di}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_di" class="control-label">desnivel izquierdo</label>
    </div>

    <div class="form-group">
      <label for="cor_dd" class="col-sm-1 control-label">Dd</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control sync-dd" name="cor_dd" value="{{cortina.cor_dd}}" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box1-errors">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_dd" class="control-label">desnivel derecho</label>
    </div>


  </div><!--end of column-->
</div><!--end of row-->

{{!-- Main diagram --}}
<div class="row no-gutter">
	<div style="text-align: center">
		<div class="diagram-container">
			<img src="img/cortina-main.png" alt="cortina-main"/>

			<div id="main-input-a">	
				<input type="text" name="main-input-a" value="{{cortina.cor_a}}" class="diagram-input sync-a"/>
			</div>
			<div id="main-input-a2">	
				<input type="text" name="main-input-a2" value="{{cortina.cor_a}}" class="diagram-input sync-a"/>
			</div>
			<div id="main-input-h">	
				<input type="text" name="main-input-h" value="{{cortina.cor_h}}" class="diagram-input sync-h"/>
			</div>
			<div id="main-input-h2">	
				<input type="text" name="main-input-h2" value="{{cortina.cor_h}}" class="diagram-input sync-h"/>
			</div>
			<div id="main-input-h3">	
				<input type="text" name="main-input-h3" value="{{cortina.cor_h}}" class="diagram-input sync-h"/>
			</div>
			<div id="main-input-ci">	
				<input type="text" name="main-input-ci" value="{{cortina.cor_ci}}" class="diagram-input sync-ci"/>
			</div>
			<div id="main-input-ce">	
				<input type="text" name="main-input-ce" value="{{cortina.cor_ce}}" class="diagram-input sync-ce"/>
			</div>
			<div id="main-input-li">	
				<input type="text" name="main-input-li" value="{{cortina.cor_li}}" class="diagram-input sync-li"/>
			</div>
			<div id="main-input-ld">	
				<input type="text" name="main-input-ld" value="{{cortina.cor_ld}}" class="diagram-input sync-ld"/>
			</div>
			<div id="main-input-p">	
				<input type="text" name="main-input-p" value="{{cortina.cor_p}}" class="diagram-input sync-p"/>
			</div>
			<div id="main-input-ss">	
				<input type="text" name="main-input-ss" value="{{cortina.cor_ss}}" class="diagram-input sync-ss"/>
			</div>
			<div id="main-input-sc">	
				<input type="text" name="main-input-sc" value="{{cortina.cor_sc}}" class="diagram-input sync-sc"/>
			</div>
			<div id="main-input-si">	
				<input type="text" name="main-input-si" value="{{cortina.cor_si}}" class="diagram-input sync-si"/>
			</div>
			<div id="main-input-b">	
				<input type="text" name="main-input-b" value="{{cortina.cor_b}}" class="diagram-input sync-b"/>
			</div>
			<div id="main-input-ti">	
				<input type="text" name="main-input-ti" value="{{cortina.cor_ti}}" class="diagram-input sync-ti"/>
			</div>
			<div id="main-input-td">	
				<input type="text" name="main-input-td" value="{{cortina.cor_td}}" class="diagram-input sync-td"/>
			</div>
			<div id="main-input-di">	
				<input type="text" name="main-input-di" value="{{cortina.cor_di}}" class="diagram-input sync-di"/>
			</div>
			<div id="main-input-dd">	
				<input type="text" name="main-input-dd" value="{{cortina.cor_dd}}" class="diagram-input sync-dd"/>
			</div>

			<div id="main-radio1" class="radio">
				<label class="radio-label">
			    <input type="radio" name="cor_main_radio" value="option1">
			  </label>
			</div>
			<div id="main-radio2" class="radio">
				<label>
			    <input type="radio" name="cor_main_radio" value="option2">
			  </label>
			</div>
			<div id="main-radio3" class="radio">
				<label>
			    <input type="radio" name="cor_main_radio" value="option3">
			  </label>
			</div>
			<div id="main-radio4" class="radio">
				<label>
			    <input type="radio" name="cor_main_radio" value="option4">
			  </label>
			</div>
			<div id="main-radio5" class="radio">
				<label>
			    <input type="radio" name="cor_main_radio" value="option5">
			  </label>
			</div>
		</div>
	</div>
</div>

{{!-- box 2 --}}
<div class="row no-gutter">
	<h5 class="box-heading">2. Herraje Principal</h5>
	<div class="col-sm-10 col-sm-offset-3">
			
		<div class="form-group">
			<label for="cor_ciclos" class="col-sm-3 control-label">Ciclos por hora:</label>
				<div class="col-sm-3">
					<select name="cor_ciclos" id="cor_ciclos" class="form-control">
						<option>0-2 veces/hora</option>
						<option>3-5 veces/hora</option>
						<option>6-14 veces/hora</option>
						<option>15-29 veces/hora</option>
						<option>30-50 veces/hora</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_horas" class="col-sm-3 control-label">Horas de uso:</label>
				<div class="col-sm-3">
					<select name="cor_horas" id="cor_horas" class="form-control" value="{{cortina.cor_horas}}">
						<option>8 horas/día</option>
						<option>12 horas/día</option>
						<option>24 horas/día</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_tipo_guia" class="col-sm-3 control-label">Tipo de Guía:</label>
				<div class="col-sm-3">
					<select name="cor_tipo_guia" id="cor_tipo_guia" class="form-control">
						<option value="">-defina guía-</option>
						<option>Guía 2 pulg</option>
						<option>Guía 3 pulg</option>
						<option>Guía 4 pulg</option>
					</select>
				</div>
		</div>
		
		<div class="form-group">
			<label for="cor_ojos" class="col-sm-3 control-label">Ojos fijación:</label>
				<div class="col-sm-2">
					<select name="cor_ojos" id="cor_ojos" class="form-control">
						<option>Si</option>
						<option>No</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_color_herr" class="col-sm-3 control-label">Color de Herraje:</label>
				<div class="col-sm-2">
					<select name="cor_color_herr" id="cor_color_herr" class="form-control">
						<option>Gris Ferguson</option>
						<option>Negro</option>
						<option>Blanco</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_col_izq" class="col-sm-3 control-label">Columna izquierda:</label>
				<div class="col-sm-5">
					<select name="cor_co_izq" id="cor_co_izq" class="form-control">
						<option>Concreto buenas condiciones</option>
						<option>Metal, existe buenas condiciones</option>
						<option>Gypsum, agregar columna ____x____</option>
						<option>Concreto, agregar columna ____x____</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_col_der" class="col-sm-3 control-label">Columna derecha:</label>
				<div class="col-sm-5">
					<select name="cor_col_der" id="cor_col_der" class="form-control">
						<option>Concreto buenas condiciones</option>
						<option>Metal, existe buenas condiciones</option>
						<option>Gypsum, agregar columna ____x____</option>
						<option>Concreto, agregar columna ____x____</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_carg_sup" class="col-sm-3 control-label">Cargador superior:</label>
				<div class="col-sm-5">
					<select name="cor_carg_sup" id="cor_carg_sup" class="form-control">
						<option>Concreto buenas condiciones</option>
						<option>Metal, existe buenas condiciones</option>
						<option>Gypsum, agregar columna ____x____</option>
						<option>Concreto, agregar columna ____x____</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_guia_des" class="col-sm-3 control-label">Guía desmontable:</label>
				<div class="col-sm-3">
					<select name="cor_guia_des" id="cor_guia_des" class="form-control">
						<option>No aplica</option>
						<option>Si, indicar ubicación relativa</option>
					</select>
				</div>
		</div>

	</div><!--end of column-->
</div>

{{!-- Box 3 --}}
<div class="row no-gutter">
	<h5 class="box-heading">3. Tipo de lámina</h5>
	<div class="col-sm-10 col-sm-offset-3">

		<div class="form-group">
			<label for="cor_perfil_pri" class="col-sm-3 control-label">Perfil principal:</label>
				<div class="col-sm-4">
					<select name="cor_perfil_pri" id="cor_perfil_pri" class="form-control">
						<option value="">-defina perfil principal-</option>
						<option>50 Elemax galv</option>
						<option>51 Elemax galv micro</option>
						<option>60 Elemax esmaltada</option>
						<option>61 Elemax esmaltada micro</option>
						<option>20 Flat slat</option>
						<option>21 Flat slat micro</option>
						<option>22 Flat slat insulada</option>
						<option>30 C275 Overhead</option>
						<option>40 Grille</option>
						<option>10 China lisa</option>
						<option>11 China microp.</option>
						<option>00 Perfil alto</option>
						<option>01 Perfil alto micro</option>
						<option>02 Perfil alto 20g</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_perfil_sec" class="col-sm-3 control-label">Perfil secundario:</label>
				<div class="col-sm-4">
					<select name="cor_perfil_sec" id="cor_perfil_sec" class="form-control">
						<option value="">-defina perfil principal-</option>
						<option>50 Elemax galv</option>
						<option>51 Elemax galv micro</option>
						<option>60 Elemax esmaltada</option>
						<option>61 Elemax esmaltada micro</option>
						<option>20 Flat slat</option>
						<option>21 Flat slat micro</option>
						<option>22 Flat slat insulada</option>
						<option>30 C275 Overhead</option>
						<option>40 Grille</option>
						<option>10 China lisa</option>
						<option>11 China microp.</option>
						<option>00 Perfil alto</option>
						<option>01 Perfil alto micro</option>
						<option>02 Perfil alto 20g</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_color_ext" class="col-sm-3 control-label">Color exterior:</label>
				<div class="col-sm-3">
					<select name="cor_color_ext" id="cor_color_ext" class="form-control">
						<option value="">-defina color-</option>
						<option>Gris-arena</option>
						<option>Galvanizado</option>
						<option>Café claro (china)</option>
						<option>Blanco (china)</option>
						<option>Gris (china)</option>
						<option>Verde (china)</option>
						<option>Gris overhead</option>
						<option>Reverso lógico</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_color_int" class="col-sm-3 control-label">Color interior:</label>
				<div class="col-sm-3">
					<select name="cor_color_int" id="cor_color_int" class="form-control">
						<option value="">-defina color-</option>
						<option>Gris-arena</option>
						<option>Galvanizado</option>
						<option>Café claro (china)</option>
						<option>Blanco (china)</option>
						<option>Gris (china)</option>
						<option>Verde (china)</option>
						<option>Gris overhead</option>
						<option>Reverso lógico</option>
					</select>
				</div>
		</div>

	</div>	
</div>

{{!-- Box 4 --}}
<div class="row no-gutter">
	<h5 class="box-heading">4. Cobertor</h5>
	<div class="col-sm-10 col-sm-offset-3">
		
		<div class="form-group">
			<label for="cor_cob_color" class="col-sm-2 control-label">Color:</label>
				<div class="col-sm-3">
					<select name="cor_cob_color" id="cor_cob_color" class="form-control">
						<option>Gris (china)</option>
						<option>Galvanizado</option>
						<option>Café claro (china)</option>
						<option>Blanco (china)</option>
					</select>
				</div>
		</div>
			
		<div class="form-group">
			<div class="col-sm-offset-3">
				<div class="radio">
				  <label>
				    <input type="radio" name="cor_box4_radio" id="noCob" value="option1">
				    No lleva
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="cor_box4_radio" id="roundCob" value="option2">
				    <img class="img-cobertor" src="/img/cobertor-round.png">
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="cor_box4_radio" id="squareCob" value="option3">
				    <img class="img-cobertor" src="/img/cobertor-sq.png">
				  </label>
				</div>
			</div>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 5 --}}
<div class="row no-gutter">
	<h5 class="box-heading">5. Accesorios</h5>
	<div class="col-sm-10 col-sm-offset-3">

		<div class="form-group">
			<div class="col-sm-offset-3">

				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box5_checkbox" value="catalina">
				    Catalina
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box5_checkbox" value="gancho">
				    Gancho p bajar
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box5_checkbox" value="ojos">
				    Ojos de candado
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box5_checkbox" value="cerradura">
				    Cerradura central
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box5_checkbox" value="mirilla">
				    Mirilla
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box5_checkbox" value="hule">
				    Hule inferior (std.)
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box5_checkbox" value="sello">
				    Sello lateral (opc.)
				  </label>
				</div>
				<div>
					<label for="" class="control-label">Otros</label>
					<input type="text" name="cor_accesorio1" class="form-control accesorio-otro">
					<input type="text" name="cor_accesorio2" class="form-control accesorio-otro">
					<input type="text" name="cor_accesorio3" class="form-control accesorio-otro">
					<input type="text" name="cor_accesorio4" class="form-control accesorio-otro">
				</div>
				

			</div>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 6 --}}
<div class="row no-gutter">
	<h5 class="box-heading">6. Automatización</h5>
	<div class="col-sm-offset-4">
		
	<div class="form-group">
		<label for="cor_mod_motor" class="col-sm-3 control-label">Modelo de motor:</label>
		<div class="col-sm-4">
			<select name="cor_mod_motor" id="cor_mod_motor" class="form-control">
					<option>No lleva</option>
					<option>Centro eje</option>
					<option>3950 Liftmaster</option>
					<option>MH5011 Liftmaster</option>
					<option>H5011 Liftmaster</option>
					<option>GH1021 Liftmaster</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_caudro" class="col-sm-3 control-label">Cuadro de control:</label>
		<div class="col-sm-4">
			<select name="cor_caudro" id="cor_caudro" class="form-control">
					<option value="">-defina cuadro-</option>
					<option>No lleva</option>
					<option>Incorporado</option>
					<option>Derecha abajo rollo</option>
					<option>Izquierda abajo rollo</option>
					<option>Alejado, cobro extra</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_sensor" class="col-sm-3 control-label">Sensor infrarojo:</label>
		<div class="col-sm-4">
			<select name="cor_sensor" id="cor_sensor" class="form-control">
					<option value="">-defina sensor-</option>
					<option>No lleva</option>
					<option>CPS</option>
					<option>CPS-LN4</option>
					<option>Pupila</option>
					<option>Delta</option>
					<option>-otro especificar-</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_banda" class="col-sm-3 control-label">Banda sensible:</label>
		<div class="col-sm-4">
			<select name="cor_banda" id="cor_banda" class="form-control">
					<option value="">-defina si lleva banda-</option>
					<option>Si</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_cob_motor" class="col-sm-3 control-label">Cobertor motor:</label>
		<div class="col-sm-4">
			<select name="cor_cob_motor" id="cor_cob_motor" class="form-control">
					<option value="">-defina cobertor motor-</option>
					<option>No lleva</option>
					<option>Si, simple x lluvia</option>
					<option>Si, con candado</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="diagram-container col-sm-offset-1">
			<img src="img/cortina-box6.png" alt="cortina-box6"/>
			<div id="box6-radio1" class="radio">
				<label>
			    <input type="radio" name="cor_box6_radio" id="cor_lado_motor1" value="option1" aria-label="...">
			  </label>
			</div>
			<div id="box6-radio2" class="radio">
				<label>
			    <input type="radio" name="cor_box6_radio" id="cor_lado_motor2" value="option2" aria-label="...">
			  </label>
			</div>
			<div id="box6-radio3" class="radio">
				<label>
			    <input type="radio" name="cor_box6_radio" id="cor_lado_motor3" value="option3" aria-label="...">
			  </label>
			</div>
		</div>
	</div>



	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 7 --}}
<div class="row no-gutter">
	<h5 class="box-heading">7. Posición Motor o Catalina</h5>
	<div class="box-container">

	<div class="form-group">
		<div class="diagram-container">
			<img src="img/cortina-box7-L.png" alt="cortina-box7"/>
			<div id="box7-radio1" class="radio">
				<label>
			    <input type="radio" name="cor_box7_radio" id="cor_posi_motor1" value="option1" aria-label="...">
			  </label>
			</div>
			<div id="box7-radio2" class="radio">
				<label>
			    <input type="radio" name="cor_box7_radio" id="cor_posi_motor2" value="option2" aria-label="...">
			  </label>
			</div>
			<div id="box7-radio3" class="radio">
				<label>
			    <input type="radio" name="cor_box7_radio" id="cor_posi_motor3" value="option3" aria-label="...">
			  </label>
			</div>
			<div id="box7-radio4" class="radio">
				<label>
			    <input type="radio" name="cor_box7_radio" id="cor_posi_motor4" value="option4" aria-label="...">
			  </label>
			</div>
		</div>
	</div>

	</div>
</div><!--end of row-->

{{!-- Box 8 --}}
<div class="row no-gutter">
	<h5 class="box-heading">8. Medios de Activación</h5>
	<div class="col-sm-10 col-sm-offset-3">

	<div class="form-group">
		<label for="cor_bot" class="col-sm-3 control-label">Botonera:</label>
		<div class="col-sm-3">
			<select name="cor_bot" id="cor_bot" class="form-control">
					<option value="">-defina boton-</option>
					<option>No lleva</option>
					<option>Si, un botón</option>
					<option>Si, 2 botón</option>
					<option>Si, 3 botón</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_selector" class="col-sm-3 control-label">Selector de Llave:</label>
		<div class="col-sm-3">
			<select name="cor_selector" id="cor_selector" class="form-control">
					<option value="">-defina-</option>
					<option>Si</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_receptor" class="col-sm-3 control-label">Receptor Remotos:</label>
		<div class="col-sm-3">
			<select name="cor_receptor" id="cor_receptor" class="form-control">
					<option value="">-defina-</option>
					<option>Si</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_controles" class="col-sm-3 control-label">Controles Remotos:</label>
		<div class="col-sm-3">
			<select name="cor_controles" id="cor_controles" class="form-control">
					<option value="">-defina-</option>
					<option>Si, especifique</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_bot_cod" class="col-sm-3 control-label">Botonera Código:</label>
		<div class="col-sm-3">
			<select name="cor_bot_cod" id="cor_bot_cod" class="form-control">
					<option value="">-defina-</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
			</select>
		</div>
	</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 9 --}}
<div class="row no-gutter">
	<h5 class="box-heading">9. Sensor, Cuadro y Botonera (a máx 3m)</h5>
	<div class="col-sm-10 col-sm-offset-5">
		
		<div class="form-group">
			<div class="radio">
			  <label>
			    <input type="radio" name="cor_box9_radio" id="cor_box9_radio1" value="option1">
			    <strong>Total:</strong> Accesos entuba y cablea
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="cor_box9_radio" id="cor_box9_radio2" value="option2">
			    <strong>Básico:</strong> Accesos cablea/tubos cliente
			  </label>
			</div>
			<div class="radio disabled">
			  <label>
			    <input type="radio" name="cor_box9_radio" id="cor_box9_radio3" value="option3">
			    <strong>Mínimo:</strong> Cliente cablea 100%
			  </label>
			</div>
		</div>

		<div class="form-group">
			<span>Voltaje</span>
			<select name="cor_volt" id="cor_volt">
				<option>220</option>
				<option>110</option>
			</select>
			<span>a cargo</span>
			<select name="cor_volt_carg" id="cor_volt_carg">
				<option>Cliente</option>
				<option>Accesos</option>
			</select>	
		</div>

		<div class="form-group">
			<span>Cableados botoneras por</span>
			<select name="cor_cable_carg" id="cor_cable_carg">
				<option>Cliente</option>
				<option>Accesos</option>
			</select>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 10 --}}
<div class="row no-gutter">
	<h5 class="box-heading">10. Desinstalar</h5>
	<div class="col-sm-10 col-sm-offset-4">

		<div class="form-group">
			<span>Desinstalar</span>
			<select name="cor_des" id="cor_des">
				<option>Eliminar  **escriba detalle**</option>
				<option>Buque listo para trabajar</option>
				<option>Portón o sección p poder trabajar</option>
			</select>
			<span>por parte de</span>
			<select name="cor_des_carg" id="cor_des_carg">
				<option>Accesos</option>
				<option>Cliente</option>
			</select>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 11 --}}
<div class="row no-gutter">
	<h5 class="box-heading">11. Herramienta y Equipo Especial</h5>
	<div class="col-sm-offset-3">

		<div class="form-group">
			<div class="col-sm-offset-3">

				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="herra">
				    Herramienta certificada
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="andamios">
				    Andamios - Escalera extensión
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="monta">
				    Montacargas 
				  </label>
				  <span>por</span>
				  <select name="cor_monta_carg" id="">
						<option>Cliente</option>
						<option>Accesos</option>
					</select>
				</div>

				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="polainas">
				    Polainas, petos, guantes
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="conos">
				    Conos y cinta de seguridad
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="vehiculo">
				    Vehículo 4x4
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="extintor">
				    Extintor
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="cor_box11_checkbox" value="candado">
				    Candado de Breaker
				  </label>
				</div>


			</div>
		</div>


	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 12 --}}
<div class="row no-gutter">
	<h5 class="box-heading">12. Rollo oculto</h5>
	<div class="col-sm-offset-5">
	
		<div id="box12-errors" class="validation-box"></div>

		<div class="form-group">
			<span>"Offset"</span> <input type="text" name="cor_offset" value="{{cortina.cor_offset}}" class="diagram-input" style="width: 30px;" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box12-errors">
			<span>cm más alto de viga.</span><br>
			<span>Registro en cielo razo por parte de</span>
				<select name="cor_rollo_carg" id="">
					<option>Cliente</option>
					<option>Accesos</option>
				</select><br>
			<span>Nota: registro debe ser de lado a lado</span>

		</div>

	<div class="form-group">
		<div class="diagram-container">
			<img src="img/cortina-box12-M.png" alt="cortina-box12" />
			<div id="box12-ci">	
				<input type="text" name="cor_box12_ci" value="{{cortina.cor_box12_ci}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box12-errors"/>
			</div>
			<div id="box12-of">	
				<input type="text" name="cor_box12_of" value="{{cortina.cor_box12_of}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box12-errors"/>
			</div>
			<div id="box12-p">	
				<input type="text" name="cor_box12_p" value="{{cortina.cor_box12_p}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout change" data-parsley-trigger-after-failure="input focusout change" data-parsley-errors-container="#box12-errors"/>
			</div>
		</div>
	</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 13 --}}
<div class="row no-gutter">
	<h5 class="box-heading">13. Fotos en Publica</h5>
	<div class="box-container">

	<div class="form-group">
		<label for="" class="control-label">Fotos listas?</label>
			<div class="radio">
			  <label>
			    <input type="radio" name="cor_box13_radio" value="option1">
			    Confirmado
			  </label>
			</div>
	</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 14 --}}
<div class="row no-gutter">
	<h5 class="box-heading">14. Puerta Independiente</h5>
	<div class="col-sm-offset-4">
		
	<div class="form-group">
		<label for="cor_puerta" class="col-sm-2 control-label">Puerta Abre:</label>
		<div class="col-sm-3">
			<select name="cor_puerta" id="cor_puerta" class="form-control">
					<option value="">-defina puerta-</option>
					<option>Abre hacia adentro</option>
					<option>Abre hacia afuera</option>
					<option>No lleva puerta</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_cerradura" class="col-sm-2 control-label">Cerradura:</label>
		<div class="col-sm-3">
			<select name="cor_cerradura" id="cor_cerradura" class="form-control">
					<option value="">-defina cerradura-</option>
					<option>Corriente Yale</option>
					<option>Pico Lora Yale</option>
					<option>Electro Yale</option>
					<option>Ojos de candado</option>
					<option>Otro</option>
					<option>No aplica</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_cierrapu" class="col-sm-2 control-label">Cierrapuertas:</label>
		<div class="col-sm-3">
			<select name="cor_cierrapu" id="cor_cierrapu" class="form-control">
					<option value="">-defina cierrapuertas-</option>
					<option>Si, ________</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div id="box14-errors" class="validation-box col-sm-offset-1"></div>

	<div class="form-group">
		<div class="diagram-container col-sm-offset-1">
			<img src="img/cortina-box14.png" alt="cortina-box14"/>
			<div id="box14-input1">	
				<input type="text" name="cor_box14_input1" value="{{cortina.cor_box14_input1}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box14-errors"/>
			</div>
			<div id="box14-input2">	
				<input type="text" name="cor_box14_input2" value="{{cortina.cor_box14_input2}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box14-errors"/>
			</div>
			<div id="box14-input3">	
				<input type="text" name="cor_box14_input3" value="{{cortina.cor_box14_input3}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box14-errors"/>
			</div>
			<div id="box14-input4">	
				<input type="text" name="cor_box14_input4" value="{{cortina.cor_box14_input4}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box14-errors"/>
			</div>

			<div id="box14-radio1" class="radio">
				<label>
			    <input type="radio" name="cor_box14_radio" id="cor_puerta_ind1" value="option1">
			  </label>
			</div>
			<div id="box14-radio2" class="radio">
				<label>
			    <input type="radio" name="cor_box14_radio" id="cor_puerta_ind2" value="option2">
			  </label>
			</div>
		</div>
	</div>

	</div>
</div><!--end of row-->

{{!-- Box 15 --}}
<div class="row no-gutter">
	<h5 class="box-heading">15. Segmentar</h5>
	<div class="box-container">
	
	<div id="box15-errors" class="validation-box"></div>

	<div class="form-group">
		<div class="diagram-container">
			<img src="img/cortina-box15-L.png" alt="cortina-box15"/>

			<div id="box15-input1">	
				<input type="text" name="cor_box15_input1" value="{{cortina.cor_box15_input1}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box15-errors"/>
			</div>
			<div id="box15-input2">	
				<input type="text" name="cor_box15_input2" value="{{cortina.cor_box15_input2}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box15-errors"/>
			</div>
			<div id="box15-input3">	
				<input type="text" name="cor_box15_input3" value="{{cortina.cor_box15_input3}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box15-errors"/>
			</div>
			<div id="box15-input4">	
				<input type="text" name="cor_box15_input4" value="{{cortina.cor_box15_input4}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box15-errors"/>
			</div>
			<div id="box15-input5">	
				<input type="text" name="cor_box15_input5" value="{{cortina.cor_box15_input5}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box15-errors"/>
			</div>
			<div id="box15-input6">	
				<input type="text" name="cor_box15_input6" value="{{cortina.cor_box15_input6}}" class="diagram-input" data-parsley-type="number" data-parsley-trigger="input focusout" data-parsley-errors-container="#box15-errors"/>
			</div>

			<div id="box15-radio1" class="radio">
				<label>
			    <input type="radio" name="cor_box15_radio" value="option1">
			  </label>
			</div>
			<div id="box15-radio2" class="radio">
				<label>
			    <input type="radio" name="cor_box15_radio" value="option2">
			  </label>
			</div>
		</div>
	</div>

	</div>
</div><!--end of row-->

{{!-- Box 16 --}}
<div class="row no-gutter">
	<h5 class="box-heading">16. Dibujos y Comentarios</h5>
	<div class="col-sm-offset-5">
		<div class="form-group">
			<textarea class="form-control" name="cor_comentarios" rows="5">{{cortina.cor_comentarios}}</textarea>
		</div>
	</div>
</div><!--end of row-->

{{!-- Box 17 --}}
<div class="row no-gutter">
	<h5 class="box-heading">17. Condición Submital</h5>
	<div class="col-sm-offset-5">
		
		<div class="form-group">
			<div class="radio">
			  <label>
			    <input type="radio" name="cor_box17_radio" value="option1">
			    Aprobado
			  </label>
			</div>

			<div class="radio">
			  <label>
			    <input type="radio" name="cor_box17_radio" value="option2">
			    Aprobado c/ notas
			  </label>
			</div>
			{{!-- <textarea class="form-control" name="cor_notas" cols="30" rows="5"></textarea> --}}

			<div class="radio">
			  <label>
			    <input type="radio" name="cor_box17_radio" value="option3">
			    Rechazado
			  </label>
			</div>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

<div id="saveCortinaButton">
  <button name="saveCortina" type="submit" class="btn btn-success btn-lg">Guardar</button>
</div>

</form><!--close huge ass form-->



{{/proyecto}}

{{#section 'jquery'}}
<script type="text/javascript">
	$('document').ready(function(){
		$('#cortinaForm').parsley();
		$('.sync-a').keyup(function(){
			$('.sync-a').val($(this).val()).change();
		});
		$('.sync-h').keyup(function(){
			$('.sync-h').val($(this).val()).change();
		});
		$('.sync-ci').keyup(function(){
			$('.sync-ci').val($(this).val()).change();
		});
		$('.sync-ce').keyup(function(){
			$('.sync-ce').val($(this).val()).change();
		});
		$('.sync-li').keyup(function(){
			$('.sync-li').val($(this).val()).change();
		});
		$('.sync-ld').keyup(function(){
			$('.sync-ld').val($(this).val()).change();
		});
		$('.sync-p').keyup(function(){
			$('.sync-p').val($(this).val()).change();
		});
		$('.sync-ss').keyup(function(){
			$('.sync-ss').val($(this).val()).change();
		});
		$('.sync-sc').keyup(function(){
			$('.sync-sc').val($(this).val()).change();
		});
		$('.sync-si').keyup(function(){
			$('.sync-si').val($(this).val()).change();
		});
		$('.sync-b').keyup(function(){
			$('.sync-b').val($(this).val()).change();
		});
		$('.sync-ti').keyup(function(){
			$('.sync-ti').val($(this).val()).change();
		});
		$('.sync-td').keyup(function(){
			$('.sync-td').val($(this).val()).change();
		});
		$('.sync-di').keyup(function(){
			$('.sync-di').val($(this).val()).change();
		});
		$('.sync-dd').keyup(function(){
			$('.sync-dd').val($(this).val()).change();
		});

	});

</script>

{{/section}}