<a href="home" id="homebutton"><img src="img/home-icon.png" alt="Home"></a>

<div class="row">

	<h3>Result of Peso Calculation</h3>

 	<div class="col-sm-3"></div>
  	<div class="col-sm-9">
		<p><b>Nombre Proyecto:</b> {{{nombre}}}</p>

		<p><b>Porton type:</b> {{{model}}}</p>

		<p><b>Alto:</b> {{{alto}}}cm</p>

		<p><b>Ancho:</b> {{{ancho}}}cm</p>

		<p><b>Peso:</b> {{{pesocalc}}}kg</p>
	</div>

</div>