<div class="row no-gutter">
	
	<div id="projectsbutton">
		<a href="/api/proyectos" role="button" class="btn btn-default">
		  <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Proyectos
		</a>
	</div>

	<h4>Información de Proyecto</h4>
	<div class="col-sm-2"></div>
	<div class="col-sm-8 col-xs-12">

	{{#if sessionFlash}}
		<div id="#" class="alert alert-dismissible alert-{{sessionFlash.type}}" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{{sessionFlash.message}}}
		</div>
	{{/if}}

	{{!-- iterate over OBJECT --}}
	{{#proyecto}}

	{{!-- check for submitted forms: --}}
		<div id="peso-submitted" class="">{{peso_submitted}}</div>
		<div id="cortina-submitted" class="">{{cor_submitted}}</div>

		{{!--Main table--}}
		<table class="table table-hover" id="project-table">
			<tr><td><b>Nombre: </b></td><td>{{name}}</td></tr>
			<tr><td><b>Cliente: </b></td><td>{{cliente}}</td></tr>
			<tr><td><b>Dirección: </b></td><td>{{location}}</td></tr>
			<tr><td><b>Asesor: </b></td><td>{{asesor}}</td></tr>
			<tr><td><b>Tipo de portón: </b></td><td>{{portonNo}}  {{porton}}</td></tr>
			<tr><td><b>Peso de portón: </b></td><td>{{peso}} {{#if peso}}kg{{/if}}</td></tr>
		</table>
	</div>	
{{!-- 	<p>Photos</p>
	<input class="input-group" type="file" accept="image/*" capture="camera"> --}}

</div>
<hr>

<div class="row">
	<div class="col-sm-offset-2">
		<h5><strong>Herramientas:</strong></h5>
		<br>
		<a href="/api/proyectos/{{_id}}/peso" class="btn btn-info">Calcular Peso</a>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-sm-offset-2">
		<h5><strong>Especificar Acceso:</strong></h5>
		<br>
		<a href="/api/proyectos/{{_id}}/cortina" class="btn btn-info">Especificar Cortina</a>
	</div>	
</div>

<hr>

<div class="row">
	<div class="col-sm-offset-2">
		<h5><strong>PDF Reportes:</strong></h5>
		<br>

		<div id="peso-spec">
			<form action="/pdf" method="POST">
				<input type="hidden" name="id" value="{{_id}}">
				
				<div class="form-group">
				<button name="openPDF" type="submit" formaction="/openPdf" class="btn btn-default">Abrir Reporte de Peso</button>
				<br>
				<br>
				<br>	
					<label for="">Enviar a:</label>
					<input type="email" class="form-control" name="toEmail" value="{{user_email}}">
				</div>
				<button name="pdfGenerator" type="submit" class="btn btn-default">Enviar Reporte de Peso</button>
			</form>
		</div>
				<br>

		<div id="cortina-spec">			
			<form action="/cortina-open" method="POST">
				<input type="hidden" name="id" value="{{_id}}">
				<button name="cortina-open" type="submit" class="btn btn-default">Abrir Cortina Specifications</button>
			</form>
		</div>

		<!-- Button trigger modal -->
		<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" style="float: right; margin-right: 10em; margin: 2em;">
		  Borrar Proyecto
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h5 class="modal-title" id="myModalLabel">¿Está seguro?</h5>
		      </div>
		      <div class="modal-body">
		        ¡Borrar este proyecto es permanente!
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <form action="/api/proyectos/{{_id}}" id="cortina-delete" style="float: right; margin-left: 10px;">
							<button type="submit" class="btn btn-danger btn-sm">Borrar</button>
						</form>
		      </div>
		    </div>
		  </div>
		</div>

		
	</div>
</div>
{{/proyecto}}	

{{#section 'jquery'}}
<script>
    $('document').ready(function(){
			
			if ($('#peso-submitted').text() == "true") {
				$('#peso-spec').show();
			} 

    	if ($('#cortina-submitted').text() == "true") {
    		$('#cortina-spec').show();
    	} 

      //Delete Button
      $('#cortina-delete').on('submit', function(e){
          e.preventDefault();
          var action = $(this).attr('action');
          //AJAX call
          $.ajax({
            url: action,
            method: 'DELETE',
            success: function(data) {
            	window.location=data;
            }
          }).done(function(){
            console.log('AJAX was a success')
          });
      });


    });
</script>
{{/section}}
