<div class="row no-gutter">
	
	<div id="projectsbutton">
		<a href="/api/proyectos" role="button" class="btn btn-default">
		  <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Proyectos
		</a>
	</div>

	<h4>Informaci贸n de Proyecto</h4>
	<div class="col-sm-2"></div>
	<div class="col-sm-8 col-xs-12">

	{{#if sessionFlash}}
		<div id="#" class="alert alert-dismissible alert-{{sessionFlash.type}}" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{{sessionFlash.message}}}
		</div>
	{{/if}}

	{{!-- iterate over OBJECT --}}
	{{#proyecto}}
		<table class="table table-hover" id="project-table">
			<tr><td><b>Nombre: </b></td><td>{{name}}</td></tr>
			<tr><td><b>Cliente: </b></td><td>{{cliente}}</td></tr>
			<tr><td><b>Direcci贸n: </b></td><td>{{location}}</td></tr>
			<tr><td><b>Asesor: </b></td><td>{{asesor}}</td></tr>
			<tr><td><b>Tipo de port贸n: </b></td><td>{{portonNo}}  {{porton}}</td></tr>
			<tr><td><b>Peso de port贸n: </b></td><td>{{peso}} {{#if peso}}kg{{/if}}</td></tr>
		</table>
	</div>	
{{!-- 	<p>Photos</p>
	<input class="input-group" type="file" accept="image/*" capture="camera"> --}}

</div>
<hr>

<div class="row">
	<div class="col-sm-offset-2">
		<h5><strong>Herramientas:</strong></h5>
		<br>
		<a href="/api/proyectos/{{_id}}/peso" class="btn btn-info">Calcular Peso</a>

		<a href="/api/proyectos/{{_id}}/cortina" class="btn btn-info">Especificar Cortina</a>
	</div>
</div>


<hr>

<div class="row">
	<div class="col-sm-offset-2">
		<h5><strong>Reportes:</strong></h5>
		<br>
		<form action="/pdf" method="POST">
			<input type="hidden" name="id" value="{{_id}}">
			
			<div class="form-group">
			<button name="openPDF" type="submit" formaction="/openPdf" class="btn btn-default">Abrir Reporte de Peso</button>

			<br>
			<br>
			<br>	
				<label for="">Enviar a:</label>
				<input type="email" class="form-control" name="toEmail" value="{{user_email}}">
			</div>
			<button name="pdfGenerator" type="submit" class="btn btn-default">Enviar Reporte de Peso</button>
		</form>
					<hr>
		<form action="/cortina-open" method="POST">
			<input type="hidden" name="id" value="{{_id}}">
			<button name="cortina-open" type="submit" class="btn btn-default">Abrir Cortina Specifications</button>
		</form>

		<form action="/api/proyectos/{{_id}}" id="cortina-delete" method="DELETE" style="float: right; margin-right: 50px;">
			<button type="submit" class="btn btn-danger btn-sm">Delete</button>
		</form>

		
	</div>
</div>
{{/proyecto}}	

{{#section 'jquery'}}
<script>
    $('document').ready(function(){

      //Delete Button
      $('#cortina-delete').on('submit', function(e){
          e.preventDefault();
          var action = $(this).attr('action');
          //AJAX call
          $.ajax({
            url: action,
            method: 'DELETE',
            success: function(data) {
            	window.location=data;
            }
          }).done(function(){
            console.log('AJAX was a success')
          });
      });


    });
</script>
{{/section}}
