<div class="row">
	
	<h3>Project View:</h3>
	<div class="col-sm-2"></div>
	<div class="col-sm-5">

	{{!-- iterate over OBJECT --}}
	{{#proyecto}}
		<p><b>Name: </b>{{name}}</p>
		<p><b>Location: </b>{{location}}</p>
		<p><b>Asesor: </b>{{asesor}}</p>
		<p><b>Tipo de porton: </b>{{porton}}</p>
		<p><b>Peso de porton: </b>{{peso}}</p>
	</div>
	<p>Photos</p>
	<input class="input-group" type="file" accept="image/*" capture="camera">

	<div class="col-sm-5"></div>
</div>
<hr>
<br>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h4>Reports:</h4>
		<br>
		<form action="/pdf" method="POST">
			<input type="hidden" name="id" value="{{_id}}">
			<button name="pdfGenerator" type="submit" class="btn btn-default">Generate Peso Report</button>
		</form>
		


	</div>
</div>	
{{/proyecto}}